In [1]:
import pandas as pd  # pandas
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Egyes label-ek gyakorisága
mivel nagyon sok a lab
el, csak a legnagyobb gyakorisággal előfordulókat vesszük figyelembe
Ehhez kellene egy olyan tábla, amiben a label-ek gyakorisága benne van, is_active csoportisítással.

Tehát az app_event tábla alapján meghatrozzuk a label-ek gyaokriságát
label_id, acive_count, not_active_count

In [2]:
app_events = pd.read_csv("../datasets/app_events.csv", sep=",")

In [3]:
app_events.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [4]:
app_labels = pd.read_csv("../datasets/app_labels.csv", sep=",")

In [5]:
app_labels.head()

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

In [6]:
x = app_events.merge(app_labels, on="app_id").groupby(["is_active", "label_id"]).count()
x.drop(columns=["event_id", "app_id"], axis=1, inplace=True)
x.rename(columns={"is_installed": "cou"}, inplace=True)
x.to_csv("../datasets/label_categories_with_counts_1.csv")

In [7]:
x.head()

                     cou
is_active label_id
0         2            6
          4            6
          5            2
          6         3235
          7         1225

In [8]:
# tábla átalakítása
label_counts = pd.read_csv("../datasets/label_categories_with_counts_1.csv", sep=",")

In [9]:
labe_counts_0=label_counts[label_counts["is_active"] == 0]

In [10]:
labe_counts_1=label_counts[label_counts["is_active"] == 1]

In [11]:
label_categories = pd.read_csv("../datasets/label_categories.csv", sep=",")
label_categories = label_categories.merge(label_counts[label_counts["is_active"] == 0], on="label_id", how="left")
label_categories.drop(columns=["is_active"], inplace= True)
label_categories.rename(columns={"cou": "not_active_cou"}, inplace= True)
label_categories = label_categories.merge(label_counts[label_counts["is_active"] == 1], on="label_id", how="left") 
label_categories.drop(columns=["is_active"], inplace= True)
label_categories.rename(columns={"cou": "active_cou"}, inplace= True)

In [18]:
label_categories["all_cou"] = label_categories["not_active_cou"] + label_categories["active_cou"]

In [20]:
label_categories = label_categories.sort_values("all_cou", ascending=0)

In [21]:
label_categories.to_csv("../datasets/label_categories_with_counts_2.csv")

In [22]:
label_categories.head()

     label_id               category  not_active_cou  active_cou     all_cou
489       548           Industry tag      14394096.0   9846501.0  24240597.0
629       704  Property Industry 2.0      10017203.0   6807461.0  16824664.0
490       549  Property Industry 1.0       7567242.0   6113200.0  13680442.0
359       405           Custom label       5902239.0   2337647.0   8239886.0
638       713             Services 1       5084162.0   3098384.0   8182546.0